name: build-and-test
on: [push]
jobs:
  run_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
          architecture: 'x64'
      - run: coverage run -m pytest
      - run: coverage xml